* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.container {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.header {
  background-image: url(../assets/img/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px; }

.header__nav-logo img {
  width: 54%; }

.header__nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__nav-menu ul li :hover {
    color: red; }
  .header__nav-menu ul li a {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 34px; }

.header__nav-mobile {
  display: none;
  width: 24px;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  padding: 5px 0; }

.header__nav-mobile:hover {
  cursor: pointer; }

.header__nav-mobile--border {
  display: block;
  width: 100%;
  background: #FFFFFF;
  height: 2px; }

.header__main {
  display: flex;
  width: 100%;
  height: 100%; }

.header__main-left {
  width: 50%;
  display: flex; }
  .header__main-left img {
    display: block;
    width: 100%;
    margin: 91px 0 91px 0; }

.header__main-right {
  padding: 130px 35px;
  width: 50%;
  height: 100%; }

.header__main-right__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: #FFFFFF;
  margin-bottom: 48px; }

.header__main-right__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF; }

.services {
  background: rgba(255, 255, 255, 0.75);
  width: 100%; }

.services__titel {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #264653;
  text-align: center;
  padding: 40px 0 80px; }

.services__items {
  display: flex;
  justify-content: space-between; }

.services__item {
  background: #FFFFFF;
  box-shadow: 6px 6px 14px rgba(128, 116, 113, 0.5);
  border-radius: 4px;
  margin: 80px 37px; }

.services__item-img {
  text-align: center;
  padding: 40px 0 62px; }

.services__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #264653;
  text-align: center;
  padding: 34px 0 34px; }

.services__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #264653;
  padding: 10px 0 80px; }

.team__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #264653;
  padding: 40px 0 80px;
  text-align: center; }

.team__content {
  display: flex; }

.team__content-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #264653;
  text-align: justify;
  margin-right: 24px;
  width: 50%; }

.team__content-foto img {
  width: 100%; }

.about {
  background: #264653; }

.about__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 40px 0; }

.about__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0 109px; }

.about__avatars {
  text-align: center; }

.about__avatar {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px auto 136px; }

.about__avatar-foto__wraper {
  margin: 0 auto; }

.about__avatar-foto {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%); }

.about__avatar-name {
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #264653;
  text-align: center;
  padding: 26px 80px 0; }

.about__avatar-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #264653;
  text-align: center;
  padding: 5px 10px; }

.footer {
  background: #FFFFFF; }

.footer-wrapp {
  display: flex; }

.footer__left {
  width: 50%; }

.footer__left-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-decoration-line: underline;
  color: #264653;
  padding: 77px 0 40px; }

.footer__left-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #264653;
  padding: 40px 0; }

.footer__left-link {
  display: flex;
  padding: 40px 0;
  align-items: center;
  justify-content: center; }
  .footer__left-link a {
    margin: 0 20px; }
    .footer__left-link a img {
      display: block; }

.footer__left-contact {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #264653;
  padding: 12px 0; }

.footer__left-meil {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #264653;
  padding: 12px 0;
  align-items: center;
  display: flex; }
  .footer__left-meil span {
    display: inline-block;
    padding-left: 8px; }

.footer__left-tel {
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #264653;
  padding: 12px 0;
  display: flex; }
  .footer__left-tel span {
    display: inline-block;
    padding-left: 8px; }

.footer__right {
  width: 50%;
  padding: 71px 5px; }
  .footer__right iframe {
    width: 100%; }

@media (max-width: 992px) {
  .header__nav-menu ul a {
    font-size: 18px; }
  .header__main-right {
    padding: 64px 16px; }
  .header__main-right__title {
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 17px; }
  .header__main-right__text {
    font-size: 21px;
    line-height: 29px; }
  .services__titel {
    padding: 40px 0 50px; }
  .services__item {
    margin: 9px 9px; }
  .services__item-img {
    padding: 29px 0 40px; }
  .services__item-title {
    padding: 20px 0 20px; }
  .services__item-text {
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0 45px; }
  .services__titel {
    padding: 40px 0 60px; }
  .services__item {
    margin: 50px 17px; }
  .services__item-img {
    padding: 40px 0 49px; }
  .team__title {
    padding: 40px 0 60px; }
  .team__content {
    flex-direction: column; }
  .team__content-text {
    margin-right: 0px;
    width: 100%; }
  .team__content-foto img {
    width: 100%; } }

@media (max-width: 768px) {
  .header__nav-logo img {
    width: 48%; }
  .header__nav-menu ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 23px; }
  .header__main-left img {
    margin: 60px 0 60px 0; }
  .header__main-right {
    padding: 29px 13px; }
  .header__main-right__title {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 14px; }
  .header__main-right__text {
    font-size: 18px;
    line-height: 24px; }
  .services__titel {
    padding: 40px 0 40px; }
  .services__items {
    flex-direction: column; }
  .services__item {
    margin: 45px 45px; }
  .services__item-img {
    padding: 25px 0 25px; }
  .services__item-title {
    padding: 25px 0 25px; }
  .services__item-text {
    padding: 10px 0 20px; }
  .team__title {
    padding: 40px 0 42px; }
  .team__content-text {
    margin-right: 0px;
    width: 100%; }
  .footer__left-title {
    font-size: 24px;
    line-height: 20px;
    padding: 50px 0 40px; }
  .footer__left-text {
    font-size: 18px;
    line-height: 22px;
    padding: 24px 0; }
  .footer__left-link {
    padding: 15px 0; }
  .footer__left-contact {
    font-size: 22px;
    line-height: 22px;
    padding: 12px 0; }
  .footer__right {
    padding: 10px 5px; } }

@media (max-width: 576px) {
  .header {
    background-attachment: fixed; }
  .header__nav-menu {
    display: none; }
  .header__nav-mobile {
    display: block; }
  .header__nav-logo {
    width: 35%; }
  .header__main {
    flex-direction: column; }
  .header__main-left {
    width: 100%; }
  .header__main-left img {
    margin: 29px 0 29px 0; }
  .header__main-right {
    width: 100%;
    padding: 9px 13px; }
  .header__main-right__title {
    font-size: 31px;
    line-height: 33px;
    margin-bottom: 8px;
    text-align: center; }
  .header__main-right__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center; }
  .services__titel {
    font-size: 29px;
    line-height: 25px;
    padding: 30px 0 30px; }
  .services__item {
    margin: 16px 10px; }
  .services__item-img {
    padding: 15px 0 15px; }
  .services__item-title {
    font-size: 18px;
    line-height: 10px;
    padding: 20px 0 20px; }
  .services__item-text {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0 32px; }
  .team__title {
    font-size: 24px;
    line-height: 18px;
    padding: 24px 0 24px; }
  .team__content-text {
    font-size: 14px;
    line-height: 141%;
    margin-right: 0px; }
  .team__content-foto img {
    width: 100%; }
  .about__title {
    font-size: 22px;
    line-height: 16px;
    padding: 24px 0; }
  .about__text {
    font-size: 14px;
    padding: 10px 0 16px; }
  .about__avatar {
    margin: 10px auto 53px; }
  .about__avatar-foto {
    left: 35px;
    width: 30%; }
  .about__avatar-name {
    font-size: 14px;
    padding: 18px 77px 0; }
  .about__avatar-text {
    font-size: 14px;
    padding: 5px 10px; }
  .about__avatar-link img {
    width: 28px; }
  .footer__left {
    width: 100%; }
  .footer-wrapp {
    flex-direction: column; }
  .footer__left-title {
    font-size: 19px;
    line-height: 20px;
    padding: 25px 0 25px; }
  .footer__left-text {
    font-size: 14px;
    line-height: 18px;
    padding: 12px 0; }
  .footer__left-link {
    padding: 3px 0; }
  .footer__left-contact {
    font-size: 20px;
    line-height: 21px;
    padding: 8px 0; }
  .footer__left-meil {
    font-size: 14px;
    line-height: 19px;
    padding: 10px 0; }
  .footer__left-tel {
    font-size: 14px;
    line-height: 19px;
    padding: 10px 0; }
  .footer__right {
    width: 100%;
    padding: 5px 5px; } }
